<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/betterpak_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/betterpak_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetterPak">
        <meta-data
            android:name="com.dai2010.betterpak.cloud.onedrive.client_id"
            android:value="@string/onedrive_client_id" />
        <meta-data
            android:name="com.dai2010.betterpak.cloud.google_drive.client_id"
            android:value="@string/google_drive_client_id" />
        <meta-data
            android:name="com.dai2010.betterpak.cloud.onedrive.scopes"
            android:value="@string/onedrive_scopes" />
        <meta-data
            android:name="com.dai2010.betterpak.cloud.google_drive.scopes"
            android:value="@string/google_drive_scopes" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter tools:ignore="AppLinkUrlError">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="application/zip" />
            <data android:mimeType="application/x-zip-compressed" />
            <data android:mimeType="application/vnd.rar" />
            <data android:mimeType="application/x-rar-compressed" />
            <data android:mimeType="application/x-rar" />
            <data android:mimeType="application/x-7z-compressed" />
            <data android:mimeType="application/7z" />
            <data android:mimeType="application/zstd" />
            <data android:mimeType="application/x-zstd" />
            <data android:mimeType="application/x-tar" />
            <data android:mimeType="application/x-gtar" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="application/zip" />
            <data android:mimeType="application/x-zip-compressed" />
            <data android:mimeType="application/vnd.rar" />
            <data android:mimeType="application/x-rar-compressed" />
            <data android:mimeType="application/x-rar" />
            <data android:mimeType="application/x-7z-compressed" />
            <data android:mimeType="application/7z" />
            <data android:mimeType="application/zstd" />
            <data android:mimeType="application/x-zstd" />
            <data android:mimeType="application/x-tar" />
            <data android:mimeType="application/x-gtar" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="com.dai2010.betterpak" android:host="oauth" />
        </intent-filter>
        </activity>
    </application>
</manifest>
